.chatbox{
  height: 550px;
  transition: 300ms;
}
.chatbox:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.down{
  /*background: black;*/
  margin-top:0px;
  padding: 5px;
  padding-top: 10px;
}
.fit{
  height: 450px;
  overflow: scroll;
}

.shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.stretch{
  width: 650px;
}